<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <title>表单转换</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/layer.css">
    <link rel="stylesheet" href="../static/css/simple.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico">
    <style>
        html,body {
            height: 100%;
            background-color: #f1f2f0;
            overflow: hidden;
            -webkit-user-select: none;
            user-select: none
        }

        #container {
            width: 100%;
            height: 100%;
            position: relative;
            background-color: #000;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0)
        }

        textarea::-webkit-input-placeholder{
            color:#1edeaa;
        }
        textarea::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#1edeaa;
        }
        textarea:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#1edeaa;
        }
        textarea:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color:#1edeaa;
        }
</style>
</head>
<body>

<article id="container">
    <canvas></canvas>
    <a href="/h"><input id='btn1' type="button"  class="btn1" value="Header转换" /></a>
    <a href="/c"><input id='btn2' type="button"  class="btn2" value="Cookie转换" /></a>
    <a href="/u"><input id='btn3' type="button"  class="btn3" value="Unicode转换" /></a>
    <a href="/p"><input id='btn4' type="button"  class="btn4" value="PWD解密" /></a>

    <a><input type="button"  class="postsu" value="运行" onclick="submit()"/></a>
    <a href=""><input type="button"  class="clean" value="清空" onclick="clean()"/></a>
    <a><input type="button" class="copy" value="复制" onclick="copy()"/></a>




    {% block body %}

    {% endblock %}

</article>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/layer.js"></script>
<script>
    //复制结果
    function copy(){
        var text = document.getElementById("output").value;
        var input = document.getElementById("output");
        input.select(text);
        document.execCommand("copy");
        layer.msg('复制成功!',  {offset: [$(window).height() - 650],icon: 1 ,time: 1000});
}
    //着重显示当前页面的状态
    var currenturl = window.location.href;
    var url = currenturl.split('/');
    var url1 = url[url.length-1];
    if (url1 === 'h'){
        document.getElementById("btn1").style.border = '3px solid pink';}
    if (url1 === 'c'){
        document.getElementById("btn2").style.border = '3px solid pink';}
    if (url1 === 'u'){
        document.getElementById("btn3").style.border = '3px solid pink';}
    if (url1 === 'p'){
        document.getElementById("btn4").style.border = '3px solid pink';}


    //清空表单
    function clean() {
         $("textarea").val("");
    }

    // 当提交为空时提示
    function submit(){
        text = $("textarea").val();
        if (text === "") {
            layer.msg('请输入内容!',  {offset: [$(window).height() - 650],icon: 7 ,time: 1000});
            return false;
        }
        document.GroupSendForm.submit()
    }
    document.addEventListener("keydown",function(e){
        text = $("textarea").val();
        if (e.keyCode === 13 &&  e.ctrlKey) {
            if (text === "") {
            layer.msg('请输入内容!',  {offset: [$(window).height() - 650],icon: 7 ,time: 1000});
            return false;
        }
            document.GroupSendForm.submit()
        }
    if (e.keyCode === 27) {
        document.GroupSendForm.data.value = ''
    }

})

    $(function() {
        var canvas = document.querySelector('canvas'),
                ctx = canvas.getContext('2d')
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        ctx.lineWidth = .3;
        ctx.strokeStyle = (new Color(150)).style;
        var mousePosition = {
            x: 50 * canvas.width / 100,
            y: 50 * canvas.height / 100
        };
        var dots = {
            nb: 250,
            distance: 100,
            d_radius: 150,
            array: []
        };

        function colorValue(min) {
            return Math.floor(Math.random() * 255 + min);
        }

        function createColorStyle(r, g, b) {
            return 'rgba(' + r + ',' + g + ',' + b + ', 0.9)';
        }

        function mixComponents(comp1, weight1, comp2, weight2) {
            return (comp1 * weight1 + comp2 * weight2) / (weight1 + weight2);
        }

        function averageColorStyles(dot1, dot2) {
            var color1 = dot1.color,
                    color2 = dot2.color;
            var r = mixComponents(color1.r, dot1.radius, color2.r, dot2.radius),
                    g = mixComponents(color1.g, dot1.radius, color2.g, dot2.radius),
                    b = mixComponents(color1.b, dot1.radius, color2.b, dot2.radius);
            return createColorStyle(Math.floor(r), Math.floor(g), Math.floor(b));
        }

        function Color(min) {
            min = min || 0;
            this.r = colorValue(min);
            this.g = colorValue(min);
            this.b = colorValue(min);
            this.style = createColorStyle(this.r, this.g, this.b);
        }

        function Dot() {
            this.x = Math.random() * canvas.width;
            this.y = Math.random() * canvas.height;
            this.vx = -.5 + Math.random();
            this.vy = -.5 + Math.random();
            this.radius = Math.random() * 2;
            this.color = new Color();
            console.log(this);
        }

        Dot.prototype = {
            draw: function() {
                ctx.beginPath();
                ctx.fillStyle = this.color.style;
                ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2, false);
                ctx.fill();
            }
        };
        function createDots() {
            for (i = 0; i < dots.nb; i++) {
                dots.array.push(new Dot());
            }
        }

        function moveDots() {
            for (i = 0; i < dots.nb; i++) {
                var dot = dots.array[i];
                if (dot.y < 0 || dot.y > canvas.height) {
                    dot.vx = dot.vx;
                    dot.vy = -dot.vy;
                }
                else if (dot.x < 0 || dot.x > canvas.width) {
                    dot.vx = -dot.vx;
                    dot.vy = dot.vy;
                }
                dot.x += dot.vx;
                dot.y += dot.vy;
            }
        }

        function connectDots() {
            for (i = 0; i < dots.nb; i++) {
                for (j = 0; j < dots.nb; j++) {
                    i_dot = dots.array[i];
                    j_dot = dots.array[j];
                    if ((i_dot.x - j_dot.x) < dots.distance && (i_dot.y - j_dot.y) < dots.distance && (i_dot.x - j_dot.x) > -dots.distance && (i_dot.y - j_dot.y) > -dots.distance) {
                        if ((i_dot.x - mousePosition.x) < dots.d_radius && (i_dot.y - mousePosition.y) < dots.d_radius && (i_dot.x - mousePosition.x) > -dots.d_radius && (i_dot.y - mousePosition.y) > -dots.d_radius) {
                            ctx.beginPath();
                            ctx.strokeStyle = averageColorStyles(i_dot, j_dot);
                            ctx.moveTo(i_dot.x, i_dot.y);
                            ctx.lineTo(j_dot.x, j_dot.y);
                            ctx.stroke();
                            ctx.closePath();
                        }
                    }
                }
            }
        }

        function drawDots() {
            for (i = 0; i < dots.nb; i++) {
                var dot = dots.array[i];
                dot.draw();
            }
        }

        function animateDots() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            moveDots();
            connectDots();
            drawDots();
            requestAnimationFrame(animateDots);
        }

        $('canvas').on('mousemove', function(e) {
            mousePosition.x = e.pageX;
            mousePosition.y = e.pageY;
        });
        $('canvas').on('mouseleave', function(e) {
            mousePosition.x = canvas.width / 2;
            mousePosition.y = canvas.height / 2;
        });
        createDots();
        requestAnimationFrame(animateDots);
    });




</script>
{% block script %}
{% endblock %}

</body>
</html>