{% extends "base.html" %}

{% block body %}
<div class="outerDiv">
    <form action="/" method="post" name="GroupSendForm">
        <textarea name="data" placeholder="Python请求头格式转换
输入headers转换体(string类型) 按回车转换
示例：User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.54 Safari/537.36 Edg/101.0.1210.39"
                  onkeydown="mounted()"></textarea>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    function mounted() {
        var that = this
        document.onkeydown = function (ev) {
            var oEvent = window.event
            if (oEvent.keyCode == 13) {
                ev.preventDefault()
                document.GroupSendForm.submit()
            }
        }
    }
</script>
{% endblock %}

